body {
  background-color: #f5f5f5;
}
#header {
  height: 50px;
  padding: 10px;
  background-color: #ff841d;
  text-align: center;
  position: relative;
}
#header .back {
  width: 50px;
  height: 30px;
}
#header > h3 {
  margin: 0;
  color: #fff;
  margin: 0 50px;
}
#header > #app {
  position: absolute;
  top: 10px;
  right: 10px;
}
#header > #app > img {
  width: 32px;
  height: 32px;
}
#header #logo {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #fff;
  font-size: 25px;
}
#main {
  background-color: #fff;
}
#main > .row {
  max-width: 960px;
  margin: 0 auto;
}
#main > .row > div {
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #ccc;
}
#main a {
  display: block;
}
#main a > .img {
  text-align: center;
}
#main a > .img > img {
  width: 140px;
  height: 140px;
}
#main a > .tit {
  color: #000;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main a > .money {
  color: #ff6c00;
  margin-top: 5px;
  height: 40px;
}
#main a > .info {
  font-size: 10px;
  margin: 5px 0;
}
#footer {
  margin: 10px 0 20px 0;
}
#footer > .foot {
  margin-top: 10px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
}
#footer > .foot > a {
  text-align: center;
  border-right: 1px solid #c4c4c4;
}
#footer > .foot > a:last-child {
  border-right: none;
}
#footer > .foot > a:last-child > img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 2px;
}
#footer > .end {
  margin-top: 10px;
  text-align: center;
  color: #c4c4c4;
}
#footer > .end > p {
  margin: 0;
  font-size: 12px;
}
#footer > .end > p > a:first-child {
  color: red;
}
